.App {
  text-align: center;
}

/* FindAnswer */

.persianLetter{
  width: 50%;
}

.board{
  display: flex;
  flex-wrap: wrap;
}

/* WriteAnswer */

.hidden {
  display: none;
}

.correction {
  background-color: #eeffe0;
  border: 1px solid #20a020;
  border-radius: 5px;
}

.write_answer_input--correctAnswer{
  background-color: #eeffe0;
  border: 1px solid #20a020;
}

.write_answer_input--wrongAnswer{
  background-color: #ffe0e0;
  border: 1px solid #a02020;
}

/* Choice */

.choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}

/* Results */

.results{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  margin-top: 10vh;
}

/*Alert */

.alert {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 1px;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}